/* Styles for FireworksCanvas.jsx */
#canvas-container {
    margin: 30px auto; /* Updated to center horizontally */
    display: block;
    width: 80%;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
    padding: 20px;
    background-color: #353935;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
}
