.Navbar {
    padding: 10px 0;
}

.Navbar-brand img {
    margin-right: 10px;
}

.Navbar-nav .nav-link {
    color: #000000 !important;
    text-shadow: 1px 1px 2px #000;
    margin: 0 10px;
}

.Navbar-nav .nav-link:hover {
    color: #17a2b8 !important;
}
