/* Container Styles */
.Container {
    height: 400px; /* Increased height for better spacing */
    width: 900px; /* Increased width for better layout */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  /* Canvas Styles */
  .Canvas {
    height: 200px;
    width: 100%;
  }
  
  /* Keyboard Styles */
  .Keyboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  /* Key Styles */
  .Key {
    position: relative;
  }
  
  /* White Key Button Style */
  .white-key-btn {
    width: 40px; /* Increased width for better visibility and usability */
    height: 200px; /* Adjusted height for better proportion */
    border: 2px solid #000; /* Modified border color */
    background-color: #fff; /* White key background color */
    color: #000; /* Black text color */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Adjusted alignment for key binding text */
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }
  
  .white-key-btn:hover {
    background-color: #f0f0f0; /* Lighter background color on hover */
  }
  
  /* Black Key Button Style */
  .black-key-btn {
    position: absolute;
    top: 0;
    width: 30px; /* Adjusted width for better proportion */
    height: 120px; /* Adjusted height for better proportion */
    background-color: #000; /* Black key background color */
    color: #fff; /* White text color */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    z-index: 2;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }
  
  .black-key-btn:hover {
    background-color: #333; /* Darker background color on hover */
  }
  
  /* Key Binding Description Text Style */
  .key-bind-desc {
    position: absolute;
    bottom: 5px; /* Adjusted bottom spacing */
    width: 100%;
    text-align: center;
    color: #555; /* Darker text color for better readability */
    font-size: 12px; /* Reduced font size for better fit */
  }
  