.white-key {
    background-color: white;
    transition: all 0.2s ease-in-out;
  }
  
  .black-key {
    background-color: black;
    transition: all 0.2s ease-in-out;
  }
  
  .white-key.active {
    background-color: lightgray;
    transform: scale(1.1);
  }
  
  .black-key.active {
    background-color: #333333;
    transform: scale(1.1);
  }
  
  .white-key:hover {
    background-color: #f2f2f2;
    transform: scale(1.05);
  }
  
  .black-key:hover {
    background-color: #666666;
    transform: scale(1.05);
  }
  
  .key-bind {
    position: absolute;
    top: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    color: darkslategrey;
  }
  